coverage==4.5.3
Django==2.2.13
django-filter==2.4.0
django-taggit==1.3.0
djangorestframework==3.11.2
model-mommy==1.6.0
Pillow==6.2.1
django-debug-toolbar==1.11
django-ckeditor==6.0.0
django-crispy-forms
six==1.15.0
pyenchant
pytz==2020.1







